@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 50vw;
    height: 30vh;
    margin: auto;
    margin-top: 20px;
}

.container-infos > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 7px;
}

.container-infos{
    display: flex;
    justify-content: center;

}

.box-result{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}


input{
    width: 110px;
    height: 30px;
}

#bttn-calc{
    align-self: center;
    width: 100px;
    height: 40px;
}